* {
    margin: 0;
    padding: 0;
    /* toma el padding sin agregar al tamaño del contenedor*/
   box-sizing: border-box;
  }
  
   /* agregue tipografia de google fonts */
   body {
    min-height: 100vh;
    background-color: var(--color3);
    color: var(--color2);
    width: 75%;
    margin: 0 auto;
  }

  
  :root {
    
    --color1: #9595d2;
    --color2: #005a70;
    --color3: #f1f0e2;
    --color4: #f2b950;
    --color5: #d0debb;
  
    
  }
  header {
    display: flex;
    justify-content:start;
    align-items: end;
    /*text-align: center;*/
    border-bottom: 1px solid var(--color2);
    width: 100%;
  }

   
  header .logo {
    width: 20%;
    margin: 0 auto;
  }

  .logo img {
    width: 70%;
  }

  header .nav-items{
    margin: 0 auto 0; 
    width: 80%;   
  }

  .ul-nav {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
  }



.ul-nav li a {
    text-decoration: none; 
    color: var(--color2);
}