.pagina_uno{

    display:flex;
    justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
    background-color: var(--color4);
        
}
.pagina_uno img{
    width: 100%; /* Anchura máxima */
}
.pagina_uno_texto {
text-align: center;      
width: 50%;
position: absolute;
color: var(--color5);
}
.pagina_uno_texto P{
margin: auto ;
text-shadow: 4px 4px 2px black;
}


/* pagina dos*/
.pagina_dos{
    text-align: center; 
    margin: 3em auto ;  
}
.lista {
    text-align: left;
    margin: auto auto;
    padding: 4em;
    border-radius: 30px;
    margin-top: 2em;
    border: 4px solid var(--color4); 
}


.lista ul li {
    margin-bottom: 1.5em;
}
.lista p{
    margin-bottom: 1.5em;
}
/*pagina tres */

.pagina_tres{
    text-align: center;
    margin: 3em auto;
}

.pagina_tres p{
width: 60%;
margin: 3em auto;
text-align: left;
}

.pagina_tres p:first-child {
    margin-bottom: 1em;
    width: 90%;
    }
    
.pagina_tres img{
width: 63%;
}

/*pagina 4*/
.pagina_cuatro{
text-align: center; 
margin: 3em auto;
}

.pagina_cuatro p,button{  
margin-bottom: 1.5em;
}

.button-style {
    background-color: var(--color1);
    width: 35%;
    height: 4rem;
    border-radius: 30px;
    color:var(--color5);
    font-size: 1.5rem;
    border: none; 
    padding: 0.5rem 1rem; 
    margin: 1 auto; 
}

/*pagina 5*/
.pagina-cinco{
margin: 3em auto;
display: grid;
grid-template-areas: 
"titulo subTitulo subTitulo subTitulo"
"texto texto imagen imagen"
"pie pie pie pie"
"boton boton boton boton";
}
.pagina-cinco .item-uno{
grid-area: titulo;
margin-bottom: 1em;
}
.pagina-cinco .item-dos{
    grid-area: subTitulo;
}
.pagina-cinco .item-tres{
    grid-area: texto;
    
}
.item-tres p{
   margin-bottom: 1em;
}


.pagina-cinco .imagen-box{
    grid-area: imagen;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: start; /* Centra verticalmente */
    margin-bottom: 2em;
}
.pagina-cinco .imagen-box img{
    width: 50%;
    border: 1px solid #000055;
    border-radius: 30px 30px 30px 30px;
}
.pagina-cinco .item-cuatro{
    grid-area: pie;
    text-align: center;
    margin-bottom: 2em;
}
.pagina-cinco .item-cinco{
        grid-area: boton;
        display: flex;
        justify-content: center;
        align-items: center;
    
}
/*pagina seis*/

.pagina-seis{
margin: 3em auto;
display: grid;
grid-template-columns: 5rem 1fr 3rem 1fr 3rem 1fr 3rem 1fr 5rem ;
grid-template-rows: 1fr 1fr 1fr 1fr;

}

.cabecera{
    grid-column: 1/10;
    grid-row: 1/2;
}
.testimonio-uno{
grid-column: 2/4;
grid-row: 2/3;

}
.nombre-uno{
    grid-column: 2/4;
grid-row: 3/4;
}
.testimonio-dos{
    grid-column: 5/7; 
    grid-row: 2/3;  
}
.nombre-dos{
    grid-column: 5/7;
    grid-row: 3/4;
}
.testimonio-tres{
    grid-column: 3/5;
    grid-row: 4/5;
}
.nombre-tres{
    grid-column: 3/5;
    grid-row: 5/6;
}
.testimonio-cuatro{
    grid-column: 7/9;
    grid-row: 4/5;
}
.nombre-cuatro
{
    grid-column: 7/9;
    grid-row: 5/6;
}
.nombre {
    background-color: var(--color1);
    color: var(--color5);
    border-radius: 10px;
    margin-top: 2rem;
    padding: .1rem;
    float: right;
    
}

/* pagina 7*/
.pagina-siete{
    margin: 3em auto;
    text-align: center;
}
.pagina-siete p {
    margin: 1rem auto;
}
.pagina-siete p:nth-child(2) {
    border: 2px solid var(--color1);
    border-radius: 30px;
    width: 50%;
    text-align: left;
    padding: 1rem;
    
}

#myForm {
    width: 80%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit {
    text-align: right; 
}
.boton-submit{
    width: 20%;
    height: 3em;
    background-color: var(--color1);
    color: var(--color5);
    border-radius: 10px;
}

.pagina-ocho{
    margin: 3em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}
.pagina-ocho p{
    margin: 0 auto;
    width: 20%;
}

/*Desarrollo#2024*/