/*.animate__animated.animate__fadeInUp {
    --animate-duration: 3s; 
}*/
.animate__animated{
    --animate-duration: 5s; 
}

.pagina_uno{
    background-image: url(../imagenes/Home-recortada.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    margin-bottom: 6rem;
}

.pagina_uno_texto {
    text-align: center;      
    color: var(--color5);
    padding-top: 55vh;
    }
    .pagina_uno_texto P{
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.3);
        }

/* pagina dos*/
.pagina_dos{
    text-align: center;  
    background-image: url('../imagenes/fondoArena.png'); /* Imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir el header */
  background-position: center; /* Centra la imagen */ 
}


.lista {
    text-align: left;
    padding: 4em;
    margin-top: 4rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
     
}


.lista ul li {
    margin-bottom: 1.5em;
}
.lista p{
    margin-bottom: 4rem;
}

/*pagina tres */

.pagina_tres{
    text-align: center;
}

.pagina_tres p{
width: 60%;
margin: 3em auto;
text-align: justify;
}

.pagina_tres p:first-child {
    margin-bottom: 1em;
    width: 90%;
    text-align: center;
    }

.pagina_tres img {
    width: 80%;
    }

/*pagina 4*/

.pagina_cuatro{
text-align: center; 

}
.pagina_cuatro .box-titulo{
    margin-bottom: 4rem;
}

.pagina_cuatro p{  
margin-bottom: 1.5em;
}

.pagina_cuatro .pie{
    margin: 4rem;
}

.button-style {
    background-color: var(--color2);
    color:var(--color3);
    border-radius: 25px;
    font-size: 1.5rem;
    border: none; 
    padding: 1rem 2rem; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-style:hover {
    background-color: var(--color1);
}

.button-style span {
    margin-left: 0.5rem;
    background-color: var(--color3);
    border-radius: 30px;
    padding: 1rem;
    color: var(--color2);

}

/*pagina 5*/
.pagina-cinco{
display: grid;
grid-template-areas: 
"titulo subTitulo subTitulo subTitulo"
"texto texto imagen imagen"
"pie pie pie pie"
"boton boton boton boton";
}
.pagina-cinco .item-uno{
grid-area: titulo;
margin-bottom: 0.5em;
}
.pagina-cinco .item-dos{
    grid-area: subTitulo;
    text-align: justify;
    margin-top: 1rem;
    margin-left: 1rem ;
}
.pagina-cinco .item-tres{
    grid-area: texto;
    
}
.item-tres p{
   margin-bottom: 1em;
}

.item-cuatro{
    margin: 1rem;
}
.pagina-cinco .imagen-box{
    grid-area: imagen;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: start; /* Centra verticalmente */
    margin-bottom: 2rem;
}
.pagina-cinco .imagen-box img{
    width: 50%;
   
}
.pagina-cinco .item-cuatro{
    grid-area: pie;
    text-align: center;
    margin-bottom: 2rem;
}
.pagina-cinco .item-cinco{
        grid-area: boton;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
}
/*pagina seis*/

.pagina-seis{
display: grid;
grid-template-columns: 5rem 1fr 3rem 1fr 3rem 1fr 3rem 1fr 5rem ;
grid-template-rows: 1fr 1fr 1fr 1fr;
}

.cabecera{
    grid-column: 1/10;
    grid-row: 1/2;
    text-align:center;
    
}
.testimonio-uno{
grid-column: 2/4;
grid-row: 2/3;

}
.nombre-uno{
    grid-column: 2/4;
grid-row: 3/4;
}
.testimonio-dos{
    grid-column: 5/7; 
    grid-row: 2/3;  
}
.nombre-dos{
    grid-column: 5/7;
    grid-row: 3/4;
}
.testimonio-tres{
    grid-column: 3/5;
    grid-row: 4/5;
}
.nombre-tres{
    grid-column: 3/5;
    grid-row: 5/6;
}
.testimonio-cuatro{
    grid-column: 7/9;
    grid-row: 4/5;
}
.nombre-cuatro
{
    grid-column: 7/9;
    grid-row: 5/6;
}
.nombre {
    background-color: var(--color1);
    color: var(--color3);
    border-radius: 10px;
    margin-top: 2rem;
    padding: .1rem;
    float: right;
    
}

/* pagina 7*/
.pagina-siete{
    text-align: center;
}

.pagina-siete .recuadro{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    width: 70%;
    text-align: left;
    padding: 3rem;
    margin: 4rem auto;
}
.pagina-siete p{
    margin-bottom: 3rem;
}
#myForm {
    width: 80%;
    margin: 2rem auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: none; /* Ocultar las etiquetas para usar placeholders en su lugar */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

textarea {
    height: 150px; /* Ajusta esta altura según tus necesidades */
}

.submit {
    text-align: right; 
}

.boton-submit {
    width: 20%;
    height: 3em;
    background-color: var(--color2);
    color: var(--color3);
    border-radius: 10px;
    border: none; /* Quitar el borde del botón */
    cursor: pointer; /* Cambiar el cursor para indicar que es clicable */
    transition: background-color 0.3s;
}

/* Opcional: Cambiar el color del botón al pasar el cursor sobre él */
.boton-submit:hover {
    background-color: var(--color1); /* Asegúrate de definir esta variable en tus estilos */
}

/* pagina ocho*/

.pagina-ocho{
background-color: var(--color5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}
.pagina-ocho p{
    margin: 0 auto;
    width: 20%;
}
.pagina-ocho iframe{
   margin-top: 3rem ;
   margin-right: 3rem;
   margin-bottom: 3rem;
}

/*Desarrollo#2024*/


@media screen and (max-width: 640px) {

    /* pagina uno*/
.pagina_uno{
    background-image: url('../imagenes/home-celular.jpg'); /* Asegúrate de que la ruta sea correcta */
    background-size: contain; /* Ajusta la imagen para que se muestre completamente dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height:20rem ;
}

.pagina_uno_texto {
    text-align: center;      
    color: var(--color5);
    padding-top:6rem;
    }
    /* pagina dos*/
.pagina_dos{
    text-align: center;   
}
.lista {
    text-align: left;
    padding: 2rem;
    border-radius: 30px;
    margin-top: 4rem;
    
}
/*pagina tres */

.pagina_tres{
    text-align: center;
}

.pagina_tres p{
width: 100%;
margin: 3em auto;
}

.pagina_tres p:first-child {
    margin-bottom: 1em;
    width: 100%;
    }
    
.pagina_tres img{
width: 70%;
}
/* pagina 4*/

.pagina_cuatro .pie{
    margin: 0%;
    margin-bottom: 3rem;
}

.button-style {
    
    font-size: 1rem;
    border: none; 
    padding: 1.5rem 2rem; 
   
}
/*pagina 5*/
.pagina-cinco{
display: grid;
grid-template-areas: 
"titulo titulo" 
"subTitulo subTitulo"
"texto texto"
"imagen imagen"
"pie pie"
"boton boton";
}
.pagina-cinco .item-uno{
grid-area: titulo;
margin-bottom: 0.5em;
display: flex;
justify-content: center;
}
.pagina-cinco .item-dos{
    grid-area: subTitulo;
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.pagina-cinco .item-tres{
    grid-area: texto;
    
}
.item-tres p{
   margin-bottom: 1em;
}

.item-cuatro{
    margin: 1rem;
}
.pagina-cinco .imagen-box{
    grid-area: imagen;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: start; /* Centra verticalmente */
    margin-bottom: 2rem;
}
.pagina-cinco .imagen-box img{
    width: 80%;
   
}
.pagina-cinco .item-cuatro{
    grid-area: pie;
    text-align: center;
    margin-bottom: 2rem;
}
.pagina-cinco .item-cinco{
        grid-area: boton;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        
}
/*pagina seis*/

.pagina-seis{
display: grid;
gap: 1.5rem;
grid-template-columns: 3rem 1fr ;
grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cabecera{
    grid-column: 1/3;
    grid-row: 1/2;
    text-align:justify;
}
.testimonio-uno{
border-radius: 8px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
grid-column: 1/3;
grid-row: 2/4;
padding: 1rem ;
}
.nombre-uno{
grid-column: 2/3;
grid-row: 3;
}
.testimonio-dos{
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    grid-column: 1/3; 
    grid-row: 4/6; 
    padding: 1rem ; 
}
.nombre-dos{
    grid-column: 2/3;
    grid-row: 5/6;
}
.testimonio-tres{
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    grid-column: 1/3;
    grid-row: 6/8;
    padding: 1rem ;
}
.nombre-tres{
    grid-column: 2/3;
    grid-row: 7/8;
}
.testimonio-cuatro{
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    grid-column: 1/3;
    grid-row: 8/10;
    padding: 1rem ;
}
.nombre-cuatro
{
    grid-column: 2/3;
    grid-row: 9/10;
}

.nombre {
    background-color: var(--color1);
    color: var(--color3);
    border-radius: 10px;
    padding: .1rem;
    float: right;
    margin-bottom: 1rem;
}

/* pagina 7*/
.pagina-siete{
    text-align: justify;
}

.pagina-siete .recuadro{
    border-radius: 30px;
    width: 100%;
    text-align: left;
    padding: 3rem;
    margin: 4rem auto;
}
.pagina-siete p{
    margin-bottom: 3rem;
}
#myForm {
    width: 80%;
    margin: 2rem auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: none; /* Ocultar las etiquetas para usar placeholders en su lugar */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

textarea {
    height: 150px; /* Ajusta esta altura según tus necesidades */
}

.submit {
    text-align: right; 
}

.boton-submit {
    width: 20%;
    height: 3em;
    background-color: var(--color2);
    color: var(--color3);
    border-radius: 10px;
    border: none; /* Quitar el borde del botón */
    cursor: pointer; /* Cambiar el cursor para indicar que es clicable */
    transition: background-color 0.3s;
}

/* Opcional: Cambiar el color del botón al pasar el cursor sobre él */
.boton-submit:hover {
    background-color: var(--color1); /* Asegúrate de definir esta variable en tus estilos */
}
/*pagina8*/

.pagina-ocho p{
    margin: 0 auto;
    width: 100%;
}
.pagina-ocho iframe{
   width: 90%;
    margin-top: 0 ;
    margin-right: 0;
    margin-bottom: 0;
 }

}