/*probando logo implementar en header*/
/*//////////////////////*/
.pagina-uno {
    display:flex;
    justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
    align-items:end; 
    background-color: var(--color4);
    margin-bottom: 6rem;
    
}
.pagina-uno img{
    width: 100%;
}
.pagina-uno .pagina_uno_texto{
    text-align: center;      
    width: 70%;
    position: absolute;
    color: var(--color5);
    height: auto;
    padding: 1rem;
    margin-bottom: 8rem;
    border-radius: 1rem;
    font-size: 1rem;
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
 }

.pagina-uno .pagina_uno_texto .section-titulo{
margin-bottom: 1rem;
}
/* Sección de servicios dos*/
.services-section-dos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
}

.text-content {
    width: 45%;
    margin: 1rem;
}

.service-description {
    margin-bottom: 2rem;
}

.service-list {
    list-style: none;
    padding: 0;
}

.service-list li {
    margin-bottom: 2.5rem;
}

.image-content {
    width:  45%;
    margin: 1rem;
    text-align: center;
}

.image-content img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
}

/* Sección de servicios (Sección tres) */
.services-section-three {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    
}



.service-list-three {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 80%; /* Ajusta el ancho máximo de la lista */
}

.service-list-three li {
    text-align: left;
    margin-bottom: 3rem;
}
.service-list-three :last-child{
    margin-bottom: 5rem;
}
.service-description-three {
    margin-bottom: 1rem;
    background-color: var(--color1) ;
    padding: 2rem;
    border-radius: 30px;
}

/* seccion 3 bis*/
.service-galeria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.service-galeria img {
    margin: 10px;
    max-width: 30%;
    height: auto;
    border-radius: 8px;
}
/* Sección de servicios (Sección cuatro) */
.services-section-four {
    padding: 0;
}

.header-four {
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: var(--color4);
    border-radius: 30px;
    text-align: center;
}

.benefits {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
}

.benefit {
    width: 25%;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.benefit .benefit-cabecera{
margin-bottom: 1rem;
text-align: center;
}

.benefit p {
    padding-bottom: 1rem;
}
/* Sección de servicios (Sección cinco) */
.services-section-five {
    text-align: center;
    margin-bottom: 2rem;
}

.header-five {
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: var(--color4);
    border-radius: 30px;
    text-align: center;
}

.benefits-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 80%; /* Ajusta el ancho máximo de la lista */
    text-align: left; /* Alineación a la izquierda para la lista */
}

.benefits-list li {
    
    display: flex;
    align-items: center;
}

.benefits-list li:before {
    content: "•";
    font-size: 3rem;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    padding: 0;
}

.cta-container {
    margin-top: 2rem;
}

.cta-button {
    background-color:var(--color4);
    padding: 2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #d9982a;
}

.cta-button span{
    background-color: var(--color3);
    border-radius: 30px;
    padding: 1rem;
    color: var(--color4);
    margin-left:0.5rem;
}
/* Sección de servicios (Sección seis) */
.services-section-six {
    padding: 2rem;
    text-align: center;
}

.header-six {
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
}
.header-six .recuadro{
    background-color:var(--color4);
    border-radius:15px;
    width: 50%;
    padding: 1rem;
    margin: 2rem;
}

.testimonials {
    display: flex;
    justify-content: center;
}

.testimonial {
    width:  30%;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
}

.testimonial-text {
    margin-bottom: 0.5rem;
}

.testimonial-author {
    font-size: 0.9rem;
    color: #666;
    text-align: right;
}

/*pagina 7*/
.services-section-siete {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.about-section {
    text-align: left;
}

.about-section h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 16px;
    color: #666666;
    line-height: 1.5;
    margin-bottom: 15px;
}

.about-section .highlight {
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #ffcc00;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e6b800;
}

/*pagina ocho*/
.services-section-ocho {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.comparison-section {
    text-align: center;
}

.comparison-section h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

.comparison-container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.column h2 {
    font-size: 20px;
    color: #333333;
    margin-bottom: 15px;
}

.column ul {
    list-style-type: none;
    padding: 0;
}

.column ul li {
    font-size: 16px;
    color: #666666;
    line-height: 1.5;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.column ul li::before {
    content: "➤";
    position: absolute;
    left: 0;
    color: #ffcc00;
}

.image-container {
    margin-top: 20px;
    text-align: center;
}

.image-container img {
    max-width: 100px;
    height: auto;
}
/*pagina 9*/

.services-section-nueve {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.faq-section {
    text-align: center;
}

.faq-section h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

.faq {
    text-align: left;
}

.question {
    margin-bottom: 20px;
}

.question h2 {
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.question h2::before {
    content: "❓";
    position: absolute;
    left: 0;
    color: #ffcc00;
}

.question p {
    font-size: 16px;
    color: #666666;
    line-height: 1.5;
}

.button-container {
    margin-top: 30px;
    text-align: center;
}

.button-container button {
    background-color: #6b5b95;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.button-container button:hover {
    background-color: #5a4a7c;
}

/* Media Queries para responsividad */
@media (max-width: 1024px) {
    
    /*seccion 2*/
    .services-section-dos {
        flex-direction: column;
        text-align: center;
    }
    
    .text-content, .image-content {
        flex: 1 1 100%;
    }

    /*seccion 3*/
}.services-section, .services-section-three {
    flex-direction: column;
    text-align: center;
}

.text-content, .image-content, .text-content-three {
    flex: 1 1 100%;
}

/*seccion 4*/
.benefit {
    flex: 1 1 100%;
}

/* seccion 5*/

