/*probando logo implementar en header*/
/*//////////////////////*/
.pagina-uno {
    display:flex;
    justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
    align-items:end; 
    background-color: var(--color4);
    margin-bottom: 6rem;
    
}
.pagina-uno img{
    width: 100%;
}
.pagina-uno .pagina_uno_texto{
    text-align: center;      
    width: 70%;
    position: absolute;
    color: var(--color5);
    height: auto;
    padding: 1rem;
    margin-bottom: 8rem;
    border-radius: 1rem;
    font-size: 1rem;
    background: rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
 }

.pagina-uno .pagina_uno_texto .section-titulo{
margin-bottom: 1rem;
}
/* Sección de servicios dos*/
.services-section-dos {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.text-content {
    width: 45%;
    margin: 1rem;
}

.service-description {
    margin-bottom: 2rem;
}

.service-list {
    list-style: none;
    padding: 0;
}

.service-list li {
    margin-bottom: 2.5rem;
}

.image-content {
    width:  45%;
    margin: 1rem;
    text-align: center;
}

.image-content img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
}

/* Sección de servicios (Sección tres) */
.services-section-three {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    
}

.service-list-three {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 80%; /* Ajusta el ancho máximo de la lista */
}

.service-list-three li {
    text-align: left;
    margin-bottom: 3rem;
}
.service-list-three :last-child{
    margin-bottom: 5rem;
}
.service-description-three {
    margin-bottom: 1rem;
    background-color: var(--color1) ;
    padding: 2rem;
    border-radius: 30px;
}

/* seccion 3 bis*/
.service-galeria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.service-galeria img {
    margin: 10px;
    max-width: 30%;
    height: auto;
    border-radius: 8px;
}
/* Sección de servicios (Sección cuatro) */


.header-four {
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: var(--color4);
    border-radius: 30px;
    text-align: center;
}

.benefits {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
}

.benefit {
    width: 25%;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.benefit .benefit-cabecera{
margin-bottom: 1rem;
text-align: center;
}

.benefit p {
    padding-bottom: 1rem;
}

/* Sección de servicios (Sección cinco) */
.services-section-five {
    text-align: center;
}

.header-five {
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: var(--color4);
    border-radius: 30px;
    text-align: center;
}

.benefits-list {
    list-style: none;
    padding: 0;
    margin: 1rem auto;
    max-width: 80%; /* Ajusta el ancho máximo de la lista */
    text-align: left; /* Alineación a la izquierda para la lista */
}

.benefits-list li {
    
    display: flex;
    align-items: center;
}

.benefits-list li:before {
    content: "•";
    font-size: 3rem;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    padding: 0;
}

.services-section-five .button-style {
    background-color:var(--color4);

}

.services-section-five .button-style:hover {
    background-color: #d9982a;
}

.services-section-five .button-style span{
    
    color: var(--color4);

}

/* Sección de servicios (Sección seis) */
.services-section-six {

    text-align: center;
}

.header-six {
    margin-bottom: 2rem;
    
}
.header-six .recuadro{
    background-color:var(--color4);
    border-radius:15px;
    width: 50%;
    padding: 1rem;
    margin: 2rem;
}

.header-six .borde{
    width: 50%;
    padding: 1rem;
    margin: 2rem;
    border-bottom: 1px solid black;
}

.testimonials {
    display: flex;
    justify-content: center;
}

.testimonial {
    width:  30%;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    text-align: left;
}

.testimonial-text {
    margin-bottom: 0.5rem;
}

.testimonial-author {
    font-size: 0.9rem;
    color: #666;
    text-align: right;
}

/*pagina 7*/
.services-section-siete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    }
    
    
    .services-section-siete .section-siete-cuerpo {
     display: flex;
     justify-content:space-around;
     margin-top: 3rem;
    }
    .section-siete-cuerpo .section-siete-texto{
      width: 55%;
    }
    
    .section-siete-cuerpo .section-siete-box-imagen{
        width: 45%;
        display: flex;
        justify-content: end;
        align-items: start;
        padding-top: 3rem;
        
    }
    .section-siete-cuerpo .section-siete-box-imagen img{
        width: 80%;
    }
    .services-section-siete p{
        margin-bottom: 1rem;
    }
    .services-section-siete .highlight{
        width: 100%;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        list-style-type: none;
    }
    
    
/*pagina ocho*/
.services-section-ocho {
    margin: 0 auto;
}

.comparison-section {
    width: 80%;
    margin:0 auto;
}
.comparison-section p{
    padding: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
}


.comparison-container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 40%;
    padding: 1rem;
    border-radius: 25px;
  
}
.col-si{
    border: 3px solid var(--color4);
}
.col-no{
    border: 3px solid var(--color5);
}

.column ul {
    list-style-type: none;
    padding: 0;
}

.column ul li {
    
    position: relative;
    padding: 1rem;
}

.column  ul li::before {
    content: "➤";
    position: absolute;
    left: -0.5rem;
    color: #ffcc00;
}

.image-container {
    width: 20%;
    text-align: center;
    align-self: center;
}

.image-container img {
    max-width: 100px;
    height: auto;
}
/*pagina 9*/

.services-section-nueve {
   
    margin: 0 auto;
}

.faq-section {
    text-align: center;
}

.faq-section .faq-fondo {
background-color: var(--color1);
color: var(--color3);
padding: 0.5rem;
border-radius: 3px;
margin-bottom: 2rem;
}

.faq {
    text-align: left;
}

.question {
    margin-bottom: 20px;
}

.question h2 {
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.question h2::before {
    content: "❓";
    position: absolute;
    left: 0;
    color: #ffcc00;
}

.question p {
    font-size: 16px;
    color: #666666;
    line-height: 1.5;
}

.button-container {
    margin-top: 30px;
    text-align: center;
}

.button-container button {
    background-color: #6b5b95;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.button-container button:hover {
    background-color: #5a4a7c;
}

/* pagina 10*/

.pagina-diez {
    background-color: var(--color3); /* Fondo según tu esquema de colores */
    padding: 2rem;
    text-align: center;
}

.contenedor {
    margin: 0 auto;
    width: 70%;
}

.titulo-principal {
    font-size: 1.5rem;
    color: var(--color2);
    margin-bottom: 1rem;
}

.beneficios {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1.5rem 0;
    text-align: left;
}

.beneficios li {
    margin-bottom: 0.5rem;
    color: var(--color2);
}

.pregunta {
    font-size: 1.2rem;
    color: var(--color2);
    margin-bottom: 1rem;
}

.boton-equilibrio {
    background-color: var(--color4);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.boton-equilibrio span {
    margin-left: 0.5rem;
}

/* Media Queries para responsividad */
@media (max-width: 1024px) {
    
    /*seccion 2*/
    .services-section-dos {
        flex-direction: column;
        text-align: center;
    }
    
    .text-content, .image-content {
        flex: 1 1 100%;
    }

    /*seccion 3*/
}.services-section, .services-section-three {
    flex-direction: column;
    text-align: center;
}

.text-content, .image-content, .text-content-three {
    flex: 1 1 100%;
}

/*seccion 4*/
.benefit {
    flex: 1 1 100%;
}

/* seccion 5*/

